* {
   font-family: "Chicago 12.1";
   font-size: 16px;
   color: #000000;
   padding: 0px 1px 1px 1px;
}

#waybar {
   background-color: #FFFFFF;
   border-color: #000000;
   border-bottom: 3px solid #000000;
}

#workspaces button {
   border-radius: 0 0 0 0;
}

#workspaces button.active {
   background-color: #cfcfcf;
}

/*-----------------------------*/

#mpris {
}

/*-----------------------------*/

#tray {  
}
